<!DOCTYPE html>
<html lang="en">
<%- include('layout/style.ejs') %>

  <body>
    <div class="root">
      <%- include('layout/header.ejs') %>
        <div class="main mt-1">
          <div class="container-sm">
            <ol class="list-group list-group-numbered">
              <% masters.forEach(function(master) { %>
                <div class="d-flex justify-content-between align-items-center mb-1">
                  <a class="btn btn-warning  w-25" href="master/<%= master.id %>">
                    <li class="list-group-item">
                      <%= master.name %>
                    </li>
                  </a>
                  <a class="btn btn-info w-25" href="/master/update/<%= master.id %>">Edit</a>
                  <form action="/master/delete" method="POST">
                    <input type="hidden" name="id"  value="<%= master.id %>">
                    <button type="submit" class="btn btn-danger w-100">Delete</button>
                  </form>
                </div>
                <% }); %>
            </ol>
          </div>
        </div>
        <%- include('layout/footer.ejs') %>
        <%- include('layout/javascript.ejs') %>
  </body>

</html>