<!DOCTYPE html>
<html lang="en">
<%- include('layout/style.ejs') %>

<body>
  <div class="root">
    <%- include('layout/header.ejs') %>
    <div class="main mt-1 mb-3">
      <div class="container-sm">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <% masters.forEach(element => { %>
          <div class="col">
            <a href="/master/<%= element.id %>" class="text-decoration-none text-black">
              <div class="card shadow-sm">
                <img src="<%= element.avatar %>" class="card-img-top" alt="<%= element.name %>" height="300">
                <div class="card-body">
                  <h5 class="card-title text-capitalize"><%= element.name %></h5>
                </div>
              </div>
            </a>
            <div class="mt-2">
              <a href="master/update/<%= element.id %>" class="btn btn-outline-warning">edit</a>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <%- include('layout/footer.ejs') %>
  <%- include('layout/javascript.ejs') %>
</body>

</html>